.body{
    margin: 0; 
    padding: 0; 
    height: auto; 
  }

.main-page {
    background-image: url('Image/Fundo .png');
    background-size: cover;
    background-position: center;
    height: 100vh;
    margin: 0;
    padding: 0;
  }

  .main-page .navbar {
    position: fixed;
    width: 100%;
    background-color: rgba(182, 182, 182, 0.9) !important;
    padding: 7px;
    border-radius: 10px;
    
  }

  .main-page .navbar .navbar-nav .nav-item:nth-child(1) .nav-link {
    
    color: #fff; 
    font-size: 18px;
    text-align: center;
  }

  .main-page .navbar .navbar-nav .nav-item .nav-link img{
    width: 30px; 
    margin: 2px; 
  }

  .main-text {
    margin-bottom: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
  }
  .main-text h1{
    color: #fff;
    font-size: 43px;
  }

  .main-text p {
    color: #fff;
    font-size: 20px;
    font-style: italic;
  }
  .main-text button{
    background-color: #006b6b;
    color: white;
    position: absolute;
    top: 115%;
    left: 45%;
    transform: translate(-50%, -50%);
    border: none;
    border-radius: 20px 20px;
    padding: 9px 15px;
    font-family: "Source Sans Pro Black", sans-serif;
  }

  #Village-contato {
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: flex-start;
    padding: 50px;
    width: 100%;
    margin: 0 auto;
    
    background-color: #eeeaea;
  }
  
  .contato-info {
    flex: 1;
    margin: auto;
    background-color: #eeeaea;
    border: none;
    border-radius: 10px;
    align-items: center;
  }
  
  #Village-contato h2 {
    font-size: 24px;
    color: #333;
  }
  
  #Village-contato p {
    font-size: 18px;
    color: #555;
    line-height: 1.5;
  }
  
  #Village-contato #formulario {
    flex: 1;
    align-items: center; 
    flex-direction: column;
    padding: 10px 25px;
    background-color: #eeeaea;
    width: 500px;
  }
  
  #Village-contato #formulario form {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  
  #Village-contato #formulario form input {
    padding: 10px;
    outline: none;
    border: 1px solid #cfcfcf;
    margin-bottom: 10px;
    font-size: 15px;
    border-radius: 10px;
  }
  
  #Village-contato #formulario form textarea {
    padding: 15px;
    outline: none;
    border: 1px solid #cfcfcf;
    font-size: 15px;
    margin-bottom: 10px;
    border-radius: 10px;
  }
  
  #Village-contato #formulario form button {
    padding: 10px;
    cursor: pointer;
    font-size: 20px;
    color: #ffffff;
    background: #4a90e2;
    border: 2px solid #cfcfcf;
    margin-bottom: 10px;
    border-radius: 10px;
  }
  
  @media only screen and (max-width: 768px) {
    #Village-contato {
      flex-direction: column;
    }
    #Village-contato #formulario {
      order: 2;
      margin-bottom: 20px;
      width: 100%;
    }
    .contato-info {
      width: 100%; 
    }
  }
  
  .icon {
    width: 30px; 
    margin-right: 5px; 
  }

  #Village-localizacao{
    width: 100%; 
    height: 500px; 
    background-color: #eeeaea;
    border: none; 
    border-radius: 10px; 
  }
  #Village-localizacao iframe{
    width: 100%;
    height: 100%;
 }

 #Village-rodape {
    display: flex;
    padding: 40px;
    background-color: #2e2d2d; 
    border-top: 1px solid #000; 
  }
  
  .logo-wrapper {
    display: flex;
    align-items: center;
  }
  
  .logo {
    width: 50px; 
  }
  
  .nome-consultorio {
    font-size: 18px; 
    color: #ddd;
    margin-left: 15px; 
  }
  
  .icons-wrapper {
    display: flex;
    align-items: center;
    margin-left: auto; 
  }
  
  .whatsapp-icon,
  .instagram-icon {
    width: 30px; 
    height: auto;
    margin-left: 10px; 
  }
  
  
